<p>vehicle-item works!</p>

<button mat-raised-button class="vehicle-container">
  <div fxLayout="row" fxLayoutAlign="start start">
    <div class="vehicle-image" [ngStyle]="{'background-image': 'url(' + vehicle.coverImage + ')'}"></div>
    <div fxLayout="column">
        <div fxLayout="row" class="vehicle-info">
          <span>marka model</span>
          <span>mijenjac</span>
          <span>boja</span>
          <span>cijena</span>
        </div>
    </div>
  </div>

</button>


<!--

  Podaci o pojedinom vozilu(osnovni tipa marka i model vozila, cijena, mjenjac...)
  Koristi se kod liste vozila...

 -->
