<button mat-raised-button class="vehicle-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="vehicle-image" [ngStyle]="{'background-image': 'url(' + vehicle.coverImage + ')'}"></div>
    <div fxLayout="column" class="vehicle-info">
        <div fxLayout="row">
          <span>{{vehicle.make}} {{vehicle.model}}</span>
        </div>
        <div fxLayout="row">
          <span>{{vehicle.transmissionType}}</span>
        </div>
        <div fxLayout="row">
          <span>{{vehicle.color}}</span>
        </div>
        <div fxLayout="row">
          <span>{{vehicle.price}}</span>
        </div>
    </div>
  </div>
</button>


<!--

  Podaci o pojedinom vozilu(osnovni tipa marka i model vozila, cijena, mjenjac...)
  Koristi se kod liste vozila...

 -->
