.vehicle-container{
  width:100%;
  height: 8rem;
  cursor: pointer;
}

.mat-raised-button{
    min-width: unset;
    line-height: unset;
    padding: unset;
}

.vehicle-image{
  width:5rem;
  height:5rem;
  display: inline-block;
  background-size: cover;
  place-content: center;
  transition: 1s;
}
.vehicle-info{
  width:60%;
}
