.vehicle-container{
  width:100%;
  height: 15rem;
  cursor: pointer;
}

.mat-raised-button{
    min-width: unset;
    line-height: normal;
    padding: unset;
    display: grid;
}

.vehicle-image{
  width:10rem;
  height:15rem;
  display: inline-block;
  background-size: cover;
  place-content: center;
  background-position: center;
  transition: 1s;
}
.vehicle-info{
  width:60%;
}
