.gradient  {
  background:linear-gradient(to top, white,black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.list-item-image{
  height: 7rem;
  width:7rem;
  margin-right: 1rem;
  background-size: cover;
}
