<!--

  Početna stranica s filterom u sredini.
  Forma za:
    Datum preuzimanja auta,
    vraćanja auta.

  Lokacija?
  (Toga nema u prema dokum. zahtjevi na softver)

-->
<div
class="form-wrapper"
fxLayout="column"
fxLayoutAlign="space-between">
  <form
  fxLayout=row>
    <mat-form-field class="example-full-width">
      <input type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field
    fxFlexOffset=1rem>
      <mat-label>Datum preuzimanja</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field
    fxFlexOffset=1rem>
      <mat-label>Datum preuzimanja</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </form>
  <button 
  mat-stroked-button>
    Filter</button>
</div>
