<!--

  Početna stranica s filterom u sredini.
  Forma za:
    Datum preuzimanja auta,
    vraćanja auta.

  Lokacija?
  (Toga nema u prema dokum. zahtjevi na softver)

-->
<div
class="form-wrapper"
fxLayout="column"
fxLayoutAlign="space-between">
  <form
  fxLayout=row>
    <mat-form-field class="example-full-width">
      <input type="text"
            placeholder="Location"
            aria-label="Number"
            matInput
            [formControl]="location"
            [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="location.invalid">Please enter location</mat-error>
    </mat-form-field>

    <mat-form-field
    fxFlexOffset=1rem
    (click)="picker.open()">
      <mat-label>Start date</mat-label>
      <input matInput [formControl]="start" [matDatepicker]="picker" [min]="todayDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="start.invalid">Please enter start date</mat-error>
    </mat-form-field>

    <mat-form-field
    fxFlexOffset=1rem
    (click)="picker1.open()">
      <mat-label>End date</mat-label>
      <input matInput [formControl]="end" [matDatepicker]="picker1" [min]="start.value" >
      <mat-datepicker-toggle matSuffix ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="end.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </form>
  <button
  mat-stroked-button
  (click)="openVehicleList()">
    Filter</button>
</div>
