<!--

  Početna stranica s filterom u sredini.
  Forma za:
    Datum preuzimanja auta,
    vraćanja auta.

  Lokacija?
  (Toga nema u prema dokum. zahtjevi na softver)

-->
<div
class="form-wrapper"
fxLayout="column"
fxLayoutAlign="space-between">
  <form
  fxLayoutAlign="start start"
  fxLayoutGap="0.5rem flex">
    <input
    type="text"
    placeholder="Lokacija">
    <input type="text" placeholder="Datum preuzimanja">
    <input type="text" placeholder="Datum vraćanja">
  </form>
  <button>
    Filtriraj
  </button>
</div>
