
<div fxLayout="row" class="reservation-item-container">
  <div fxLayout="row" fxLayoutAlign="center center" class="reservation-id bg-secondary">
    <span class="text-size-16">{{reservation.id}}</span>
  </div>
  <div fxLayout="row" fxLayoutAlign=" center" class="reservation-info">
    <div class="reservation-info-header"></div>
    <mat-icon class="ml-1">person</mat-icon>
    <div fxLayout="column" class="ml-1 reservation-info-section">
      <span class="text-size-14">Ime: {{name}}</span>
      <span class="text-size-14">Prezime: {{surname}}</span>
    </div>
    <mat-icon class="ml-1"> directions_car</mat-icon>
    <div class="ml-1 vehicle-info reservation-info-section" fxLayoutGap="0.3rem">
      <span class="text-size-14">ID: 257</span>
      <span class="text-size-14">Marka: Hyundai</span>
      <span class="text-size-14">Cijena: 50€</span>
      <span class="text-size-14">Model: i30</span>
    </div>
    <mat-icon class="ml-1">date_range</mat-icon>
    <div fxLayout="column" class="ml-1 reservation-info-section">
      <span class="text-size-14">Preuzimanje: 22.5.2021.</span>
      <span class="text-size-14">Povrat: 24.5.2021.</span>
    </div>
    <mat-icon class="ml-1">info</mat-icon>
    <div class="ml-1 " fxLayoutGap="0.3rem">
      <button mat-stroked-button class="button-detail" fxLayoutAlign="space-between">
        <span class="text-size-14" (click)="navigateToDetailedReservation()">Detalji</span>
      </button>
    </div>
  </div>

</div>

<!--

  Komponenta koja opisuje pojedinacni item rezervacije sa osnovnim podacima (tipa
  Korisnik, datum, vozilo, stanje rezervacije). Koristi se u listi rezervacija...

 -->
