<div fxLayout="row" class="navigation-bar-container" fxLayoutAlign="space-between center">
  <span class="app-name" routerLink="/">RentACar</span>
  <div fxLayoutGap="0.4rem grid">
    <span class="nav-item" routerLink="/vehicle" routerLinkActive="active">Vehicles</span>
    <span class="nav-item" routerLink="/auth" routerLinkActive="active">Sign</span>
  </div>
</div>
<!--

  Komponenta header s dugmicima za Vozila, prijavu ili
  registraciju korisnika te Profil ukoliko je logiran.

  [Imeapp]                 [Vozila]  [Prijava/Registracija]

 -->


